.panel {
    width:800px;
    margin:100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:40px;
}

form p {
    margin:0 10px;
}

.colorRed{
    color:red;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}